body{
    background-color: hsl(212, 45%, 89%)
}

.row{
    margin: 20px;
}

.card {
    width: 20rem;
    padding: 4%;
    margin: 0 auto;
    float: none; 
    margin-bottom: 5px; 
    border-radius: 20px;;
}

.card h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 10px 0 20px 0;
    color: hsl(218, 44%, 22%);
}

.card p{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.image-border{
    border-radius: 10px;
}

/* footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
